# ============================================================
# WaferVision - Git Ignore
# ============================================================

# ------------------------------------------------------------
# Python cache files
# ------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------------------------------------
# Virtual environments
# ------------------------------------------------------------
venv/
.venv/
env/
ENV/

# ------------------------------------------------------------
# Dataset
# Do NOT upload the complete training dataset
# ------------------------------------------------------------
data/
*.npy

# ------------------------------------------------------------
# Model files
# Keep .pth allowed because our trained model is only ~1.7 MB
# ------------------------------------------------------------
*.pt
*.ckpt

# ------------------------------------------------------------
# Generated output files
# ------------------------------------------------------------
outputs/
results/
runs/

# ------------------------------------------------------------
# ZIP files / downloaded datasets
# ------------------------------------------------------------
ZIP/
*.zip

# ------------------------------------------------------------
# Jupyter
# ------------------------------------------------------------
.ipynb_checkpoints/

# ------------------------------------------------------------
# Streamlit secrets
# ------------------------------------------------------------
.streamlit/secrets.toml

# ------------------------------------------------------------
# Operating system files
# ------------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------------
# IDE files
# ------------------------------------------------------------
.vscode/settings.json
.idea/

# ------------------------------------------------------------
# Temporary files
# ------------------------------------------------------------
*.tmp
*.temp
*.log
~$*